page-misPuntos {
  /*.label {
    margin-top: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
    margin-left: 0px;
  }

  .item {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }*/

  .label {
    margin: 0;
  }


  .item-inner {
    padding-right: 0px !important;
  }
}
