<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Running</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!--<ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col text-center width-50 *ngFor="let item of row">
        <img src="src/assets/images/medalla 2.png">
        <h5>{{ item.nombreAccion }}</h5>
        <p *ngIf="item.Puntos != '!' "> {{ item.puntos }}ptos</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <!--<ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col text-center width-50 *ngFor="let item of row">
        <img src="{{ item.Imagen }}">
        <h5>{{ item.Actividad }}</h5>
        <p *ngIf="item.Puntos != '!' "> {{ item.Puntos }}ptos</p>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <!--<ion-grid>
    <ion-row *ngFor="let row of acciones_items">
    <ion-col text-center width-50 *ngFor="let item of row">
      <img src="src/assets/images/medalla 2.png">
      <h5>{{ item.nombreAccion }}</h5>
      <p *ngIf="item.Puntos != '!' "> {{ item.puntos }}ptos</p>
      <p>Fecha {{item.fechaAccion}}</p>
    </ion-col>
  </ion-row>
  </ion-grid>-->

  <!--<ion-list>
    <ion-item *ngFor="let item of acciones_items">
      Accion: {{ item.nombreAccion }}
      Accion: {{ item.puntos }}
      Accion: {{ item.fechaAccion }}
      Accion: {{ item.nombreAccion }}
    </ion-item>
  </ion-list>-->

</ion-content>
